<section class="h-screen w-screen text-center overflow-hidden relative bg-blac">
    <div class="z-30 relative h-full flex flex-col ">
        <div class="relative h-full flex justify-center pt-64">
            <section class="relative justify-center flex flex-col h-full w-3/4 gap-7">
                <h2 class="text-2xl font-bold text-black">Nuestra empresa ofrece soluciones sostenibles para proteger al planeta.</h2>
                    <p class=" text-black">
                        Conoce más sobre nosotros...
                    </p>
            </section>
        </div>
        <footer class="flex flex-col relative pb-24">
            <div class="flex justify-center gap-16">
                <a class="text-black border-2 rounded backdrop-blur-xxs font-bold px-6 py-2 inline-block border-white hover:bg-white hover:text-green-500 transition-colors" href="/Nosotros#Mision">Misión</a>

                <a class="text-black border-2 rounded backdrop-blur-xxs font-bold px-6 py-2 inline-block border-white hover:bg-white hover:text-green-500 transition-colors" href="/Nosotros#Vision">Visión</a>
            </div>
        </footer>
    </div>
    <div class="absolute top-0 left-0 h-full z-10 opacity-80 w-screen">
        <img class="object-cover h-full w-screen" src="https://images.pexels.com/photos/8127812/pexels-photo-8127812.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"></img>
    </div>
</section>