<section class="h-screen w-screen text-center overflow-hidden relative bg-blac">
    <div class="z-30 relative h-full flex flex-col ">
        <div class="relative h-full flex justify-center pt-20">
            <section class="relative justify-center flex flex-col h-full w-[60%] gap-7">
                <h2 class="text-2xl font-bold text-black">Juntos, construimos un futuro más verde</h2>
                    <p class=" text-black">
                        En Sostec, nuestra misión es promover la sostenibilidad a través de soluciones innovadoras y prácticas que ayudan a preservar nuestro planeta. Únete a nosotros en nuestra misión de crear un futuro más verde y limpio.
                    </p>
            </section>
        </div>
        <footer class="flex flex-col relative pb-24">
            <div>
                <a class="text-black border-2 rounded transition duration-200 backdrop-blur-xxs font-bold px-6 py-2 inline-block border-white hover:bg-white hover:text-black " href="/Nosotros">Ver más</a>
            </div>
        </footer>
    </div>
    <div class="absolute top-0 left-0 h-full z-10 opacity-90 w-screen">
        <img class="object-cover h-full w-full" src="https://images.pexels.com/photos/414837/pexels-photo-414837.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"></img>
    </div>
</section>