---
import Footer from "../Footer.astro";
---
<body>
<section class="bg-slate-100 w-full h-screen">
  <div class="flex justify-center items-center relative p-44 h-full">
  <table class="table" id="tabla">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Total</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
    <tfoot>
        <th>TOTAL</th>
        <th></th>
        <th></th>
        <td id="total">0.00</td>
        <td></td>
    </tfoot>
  </table>
</div>
    <Footer />
</section>
</body>